<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ntsec Chamados</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/css/jquery-3.6.0.min.js"><script/>
    <script type="text/javascript" src="../static/css/bootstrap.min.js"><script/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style type="text/css">
    div{
      border: 1px solid #000;
      height: 100px;
    }
    <style/>
    <link rel="icon" href="img/icon.png" >
  </head>
  <body>
      <div class="container-fluid">
      <div class="row">
      <div class="col-sm-6 col-xs-12">
      <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Status</th>
                <th>Data criação</th>
                <th>Hora</th>
                <th>Criado Por</th>
                <th>Responsavel</th>
                <th>Espera Cliente</th>
            </tr>
        </thead>
        <tbody>
        {% for x in range(contador) %}
                        <tr>
                            <td><a href="https://suporte.ntsec.com.br/Ticket/Edit/{{ id[x] }}" > {{ id[x] }}</a></td>
                            <td>{{ tabela[x]['status'] }}</td>
                            <td>{{ tabela[x]['dia'] }}</td>
                            <td>{{ tabela[x]['hora1'] }}</td>
                            <td>{{ tabela[x]['cliente'] }}</td>
                            <td>{{ tabela[x]['supo'] }}</td>
                            {%if (tabela[x]['hora2'][0:2] != 00) or (tabela[x]['hora2'][3:4] == 3) %}
                              <td style="color:red"> {{ tabela[x]['hora2'] }} </td>
                            {% else %}
                              <td>{{ tabela[x]['hora2'] }}</td>
                            {% endif %}
                        </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>
      </div>
    <div class="row">
    <div class="col-sm-6 col-xs-12">
    {% extends 'teste.html' %}
    </div>
    </div>
    </div>   
 </body>
</html>

      <!--
      <script> 
        $(document).ready(function(){
        setInterval(function(){
              $("#here").load(window.location.href + " #here" );
        }, 1000);
        });
      </script>

       <script> 
        $(document).ready(function(){
        setInterval(function(){
              $("#here2").load(window.location.href + " #here2" );
        }, 1000);
        });
      </script>
        
      -->